.date {
	font-size: small;
	color: gray;
	border-radius: 20px;
	background: lightgray;
	width: fit-content;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 15px;
}

 .announce {
	font-size: medium;	
}

.title {
	font-size: xx-large;
	margin: 5px;
}

.news-list td {
	align-content: baseline;
	position: relative;
}

.news-list td:hover .title {
	color: mediumvioletred;
}

.news-list td:hover .details-button {
	background: mediumvioletred;
	color: white;
}

.news-list td:hover, .last-news:hover {
	cursor: pointer;
} 

.page-button:hover {
	background: mediumvioletred;
	color: white;
}

.news-list td:hover .details-icon {
	background: url('icons/right-arrow-white.png') no-repeat;
    background-size: 20px;
}

.details-button {
	border-color: mediumvioletred;
	margin: 10px;
	font-size: 15px;
	padding: 12px;
	border-radius: 20px;
	color: mediumvioletred;
	z-index: 1;
	position: relative;
	cursor: pointer;
}

.page-button, .next-page-button, .previous-page-button {
	border-color: mediumvioletred;
	margin: 10px;
	font-size: 15px;
	padding: 12px;
	border-radius: 20px;
	color: mediumvioletred;
	z-index: 1;
	position: relative;
	cursor: pointer;
}

.current-page-button{
	background: mediumvioletred;
	color: white;
}

header {
	display: flex;
	margin-left: 100px;
}

footer, .news-list, .bottom-line {
	margin-left: 100px;
	margin-right: 100px;
}

.bottom-line {
	margin-top: 100px;
}

.pagination {
	display: flex;
	float: right;
}

footer {
	margin-left: 100px;
	margin-right: 100px;
}

.header-text {
	letter-spacing: 5px;
	color: darkmagenta;
	font-size: large;
	font-weight: lighter;
	align-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.header-icon {
	background: url('icons/space-travel.png') no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
	margin-bottom: 20px;
}

.last-news {
	padding-left: 100px;
    max-width: 100%;
    align-content: center;
    color: white;
    font-size: xx-large;
    background-size: 100%;
    background-position: center;
    height: 400px;
    display: block;
}

.last-news-title {
	font-size: xxx-large;
}

.last-news-announce {
	font-size: large;
}

.back-icon {
	float: left;
	margin-right: 10px;
    background: url('icons/left-arrow-purple.png') no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
}

.path-main {
	display: inline;
}

.path-main a:hover {
	text-decoration: underline;
}

.path-main:hover {
	cursor: pointer;
}

.details-icon {
	float: right;
	margin-left: 10px;
    background: url('icons/right-arrow-purple.png') no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
}

.next-page-icon {
	float: right;
    background: url('icons/right-arrow-purple.png') no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
}

.previous-page-icon {
	float: right;
    background: url('icons/left-arrow-purple.png') no-repeat;
    background-size: 20px;
    height: 20px;
    width: 20px;
    display: block;
}
